<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
    <title>Страница Пользователя</title>
</head>
<body>
    <div class="userSection">
        <h2>Добро пожаловать!</h2>
        <p> Здесь вы можете ознакомиться с расписанием матчей и приобрести билеты.</p>
        <p><a href="/logout">Выйти</a></p>
    </div>
    <div class="userSection">
        <h2>Расписание Игр</h2>
        <div id="gamesListContainer">
            <ul id="gamesList"></ul>
        </div>
        <div id="ticketModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Купить Билет</h2>
                <div class="field">
                    <div class="stadium" id="stadium">
                        <img src="{{ url_for('static', filename='img/schema.jpg') }}" usemap="#stadium-map" alt="Схема стадиона">
                        <map name="stadium-map">
                            <area shape="rect" coords="34,44,270,350" alt="Сектор A" data-sector="A" data-price="500" onclick="selectSector('A', 500)">
                            <area shape="rect" coords="280,44,520,350" alt="Сектор B" data-sector="B" data-price="700" onclick="selectSector('B', 700)">
                            <!-- Добавьте остальные области сектора -->
                        </map>
                    </div>
                    <p id="price">Цена билета: </p>
                </div>
                <form id="buyTicketForm">
                    <input type="hidden" name="game_id" id="selectedGameId">
                    <input type="hidden" name="sector" id="selectedSector">
                    <label for="row">Ряд:</label>
                    <input type="number" id="row" name="row" required>
                    <label for="seat">Место:</label>
                    <input type="number" id="seat" name="seat" required>
                    <button class="buy-button" type="submit">Купить Билет</button>
                </form>
                <div id="message" class="message"></div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/stadium.js') }}"></script>
    <script src="{{ url_for('static', filename='js/users.js') }}"></script>
</body>
</html>
